/*body{
	background-image:url("wallpaperflare.com_wallpaper (3).jpg") ;
}*/
.main{
	text-align: center;
	border: 1.5px solid dodgerblue;
	border-radius: 5px;
	width: 35%;
	margin-left: 32%;
	margin-top:10%;
}
input{
	margin: 10px;
	padding: 5px;
	border-radius: 3px;
}
button{
	margin: 10px;
	padding: 5px;
	background-color: dodgerblue;
	width: 20%;
	color: white;
	font-weight: bold;
	border: 1px solid dodgerblue;
	border-radius: 3px;
}
h1{
	color: dodgerblue;
}
a{
	color: dodgerblue;
	font-weight: bold;
	text-decoration: none;
}
a:link{
	color: dodgerblue;
}